.submit
{
    margin-left:50px;
}
body
{
    background: url(../../media/background.png) no-repeat center center fixed;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}
.title
{
    color:white;
}
.row1
{
    margin-top:20px;
    margin-left:10px;
    font-size:40px;
    color:white;
}
.allrows
{
    visibility:hidden;
}