body
{
    background: url(../../media/background.png) no-repeat center center fixed;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}
.game
{
    color:white;
    font-size:75px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.statename
{
    margin-top:50px;
    color:white;
    font-size: 50px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.score
{
    color:white;
    font-size: 35px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.input
{
	width: 500px;
	height: 50px;
	font-size: 50px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.states
{
    width: 50px;
    color:white;
    font-size: 50px;
}
p
{
    margin-top:50px;
    color:white;
    font-size: 30px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
button
{
    margin-top:50px;
    font-size:40px;
}