body
{
    background: url(../../media/background.png) no-repeat center center fixed;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}
.game
{
    color:white;
}
.statename
{
    margin-top:200px;
}
button
{
    margin-top:50px;
}